body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 0;


}

.top_banner {
    color: aliceblue;
    text-align: center;
    background-image: url(images/bbbbbb_edited.jpg);

    /*I  did not find any big free images , that's why I use repetition*/

    padding: 5%;

}

.top_banner p {
    text-shadow: 1px 1px 4px black;
}

#top-banner-items {
    margin: 100px;
    height: 500px;

}

.first-title {
    font-size: 85px;
    font-weight: 700;
}

.text-centarization {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;

}



#taka {
    display: flex;
    color: gray;
    padding-left: 350px;

}

h2 {
    font-size: 60px;
}

h3 {
    text-align: center;
    padding: 70px 50px;
}

h4 {
    color: #f54d4d;
    font-size: larger;
    padding-top: 80px;
}

h5 {
    font-weight: lighter;
    ;
}

p {

    color: gray;

}


#select-tk {
    color: #f54d4d;
    border: 3px solid #f54d4d;
    border-radius: 5%;
}


.link_button {
    text-decoration: none;
    background-color: #f54d4d;
    padding: 20px 30px;
    border-radius: 10px;
    color: rgb(238, 227, 227);
    font-weight: 600;
}

input {

    width: 70%;
    height: 100px;
    text-align: center;
    font-size: 25px;
    color: rgb(158, 17, 17);
    border: 0;
    border-bottom: 2px solid rgb(187, 176, 176);
    font-weight: lighter;
    margin-bottom: 100px;


}

#Support-Team {
    color:white;
    background-image: url(images/helping-hands_edited.jpg);
    background-position: center;
    height: 600px;
    padding: 100px;
}
.Support-Team p{
    color: white;
}
.Support-Team {
    
    background-repeat: no-repeat;
    width: 100%;
    padding: 10px;
    

}

#mail {

    width: 30%;
    height: 60px;
    text-align: left;
    background-color: rgb(219, 209, 209);
    border: 2px gray;
    border-radius: 5px;

}

.flexible-container {
    display: flex;

}


#Subscribe {
    border-top: 10px;
    border-bottom: 10px;
    border-left: 20px;
    border-right: 20px;
    background-color: lemonchiffon;
    ;
    padding-top: 85px;
}

.container-item {
    padding: 50px;
    margin: 50px;
}

.container-item3 {
    background-color: rgba(255, 228, 196, 0.692);

}

button {
    padding: 20px 40px;
    border-radius: 5px;
    border: 0;
    font-size: large;
    color: white;
    background-color: #f54d4d;


}

small {
    color: white;
    font-size: medium;
}



footer {
    background-color: black;
    width: 100%;
    height: 250px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;


}