body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 0;
}

.top_banner {
    color: aliceblue;
    text-align: center;
    background-image: url(images/bbbbbb_edited.jpg);

    /*I  did not find any big free images , that's why I use repetition*/

    padding: 5%;

}

.top_banner p {
    text-shadow: 1px 1px 4px black;
}

#top-banner-items {
    margin: 100px;
    height: 500px;

}

.first-title {
    font-size: 85px;
    font-weight: 700;
}

.text-centarization {
    text-align: center;
}

#taka {
    display: flex;
    margin-left: 500px;
    color: gray;

}

h2 {
    font-size: 60px;
}

h3 {
    text-align: center;
    padding: 30px 40px;
}
h5{
    font-weight:lighter;
     ;
}

p {
    
    color: gray;
    padding: 0px 400px;

}


#select-tk {
    color: #f54d4d;
    border: 3px solid #f54d4d;
    border-radius: 5%;
}


.link_button {
    text-decoration: none;
    background-color: #f54d4d;
    padding: 20px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}